<!-- Barra de navigación -->
<nav class="navbar navbar-expand-lg navbar-dark custom-navbar sticky-top">
    <div class="container">
        <a class="navbar-brand" href="#">
            <i class="fas fa-music"></i> Conciertos y Eventos COL
            <!-- <i class="fas fa-music"></i> Conciertos y Eventos COL -->
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <% navbar.forEach((elemento, index) => { %>
                    <li class="nav-item">
                        <a class="nav-link <%= index === 0 ? 'active' : '' %>" href="<%= elemento.ruta %>">
                            <i class="<%= elemento.icon %>"></i> <%= elemento.title %>
                        </a>
                    </li>
                <% }); %>
            </ul>
        </div>
    </div>
</nav>