<% 
let whatsappLink=`https://wa.me/message/${whatsapp}`; 
if (whatsappText) { 
    whatsappLink +=`?text=${encodeURIComponent(whatsappText)}`; 
} 
%>

<div class="stycky-wpp">
    <a href="<%= whatsappLink %>" target="_blank" class="stycky-wpp-btn">
        <img width="64" height="64" decoding="async" src="../img/iconos/Whatsapp_Icon.png"
            alt="whatsapp-contacto" />
        <div class="textoBoton">CONTÁCTANOS</div>
    </a>
</div>