<h1 class="section-title">CALENDARIO DE EVENTOS</h1>
<div class="calendar-container">
    <div class="calendar-header">
        <button class="nav-btn" id="prevMonth">← Anterior</button>
        <div class="month-year" id="monthYear"></div>
        <button class="nav-btn" id="nextMonth">Siguiente →</button>
    </div>
    
    <div class="calendar" id="calendar"></div>
</div>
<!-- Modal -->
<div id="eventModal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <span class="close">&times;</span>
            <h2 id="modalTitle">Detalles del Evento</h2>
        </div>
        <div class="modal-body">
            <div class="event-details" id="eventDetails"></div>
        </div>
    </div>
</div>

<script>
    const EventosCalendario = <%- JSON.stringify(EventosPorFecha) %>
</script>
<script src="js/EventCalendar.js"></script>